body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  nav {
    background-color: #020094;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  li {
    margin: 0;
    padding: 0;
  }
  
  a {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 15px 20px;
  }
  
  a:hover {
    background-color: #000130;
  }
  a.active {
    background-color: #ff0000; /* Misalnya, warna latar belakang merah untuk menu aktif */
    color: #fff; /* Warna teks putih untuk menu aktif */
  }
  .dsb_conten h1{
    text-align: center;
  }
  