body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  nav {
    background-color: #020094;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  li {
    margin: 0;
    padding: 0;
  }
  
  a {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 15px 20px;
  }
  
  a:hover {
    background-color: #000130;
  }
  a.active {
    background-color: #ff0000;
    color: #fff;
  }
  h1{
    text-align: center;
  }

/* Gaya dasar untuk tabel */
.container {
  display: flex;
  justify-content: center;
  width: 80%;
}
.custom-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  margin-top: 20px;
}

/* Gaya untuk header tabel */
.table-header {
  background-color: #020094;
  display: flex;
  color: #fff;
}

.header-item {
  flex: 1;
  padding: 10px;
  font-weight: bold;
  border: 1px solid #ccc;
}

/* Gaya untuk baris data */
.table-row {
  display: flex;
}

.table-cell {
  flex: 1;
  padding: 10px;
  border: 1px solid #f2f2f2;
}

/* Gaya untuk baris data bergantian (striped) */
.table-row:nth-child(even) {
  background-color: #ccc;
}

/* Efek hover pada baris data */
.table-row:hover {
  background-color: #ddd;
}
.conten{
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.table_top{
  background-color: #02009444;
}
