body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  nav {
    background-color: #020094;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  li {
    margin: 0;
    padding: 0;
  }
  
  a {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 15px 20px;
  }
  
  a:hover {
    background-color: #000130;
  }
  a.active {
    background-color: #ff0000;
    color: #fff;
  }
  h1{
    text-align: center;
  }

/* Gaya dasar untuk tabel */
.container {
  display: flex;
  justify-content: center;
  width: 80%;
  margin-top: 10px;
  background-color: #0200940e;
  border-radius: 8px;
}
.custom-table {
  width: 99%;
  border-collapse: collapse;
  margin-bottom: 20px;
  margin-top: 20px;
}

/* Gaya untuk header tabel */
.table-header {
  background-color: #020094;
  display: flex;
  color: #fff;
}

.header-item {
  flex: 1;
  padding: 10px;
  font-weight: bold;
  border: 1px solid #ccc;
}

/* Gaya untuk baris data */
.table-row {
  display: flex;
}

.table-cell {
  flex: 1;
  padding: 10px;
  border: 1px solid #f2f2f2;
}

/* Gaya untuk baris data bergantian (striped) */
.table-row:nth-child(even) {
  background-color: #ccc;
}

/* Efek hover pada baris data */
.table-row:hover {
  background-color: #ddd;
}
.conten{
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.table_top{
  background-color: #02009415;
  border-radius: 8px 8px 0px 0px;
  height: 20px;
}
/* input */
.modal {
  display: none; /* Hide the modal by default */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
}

/* Modal content */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* Center the modal vertically and horizontally */
  padding: 20px;
  max-width: 400px;
  border: 1px solid #888;
  border-radius: 5px;
}

/* Close button (x) */
.close {
  float: right;
  font-size: 1.5em;
  font-weight: bold;
  cursor: pointer;
}

/* Style the form inside the modal */
.modal form {
  display: flex;
  flex-direction: column;
}

/* Style the form labels and inputs */
.modal form label, .modal form input {
  margin-bottom: 10px;
}

/* Style the submit button */
.modal form button {
  padding: 10px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Hover effect for the submit button */
.modal form button:hover {
  background-color: #0056b3;
}
